<div class="d-flex align-items-center">
    <div class="toggle-icon-wrapper">

      <button class="btn navbar-toggler-humburger-icon navbar-vertical-toggle"  onclick="changehtmltagcss()" data-bs-toggle="tooltip" data-bs-placement="left" title="Toggle Navigation"><span class="navbar-toggle-icon"><span class="toggle-line"></span></span></button>

    </div><a class="navbar-brand" routerLink="fxm/admin-dashboard">
      <div class="d-flex align-items-center py-2"><img class="me-2" src="assets/img/icons/spot-illustrations/sbmlogo.png" alt="" width="50"/></div>
      </a>
  </div>
  
